body{
    padding: 0 auto;
    margin: 0 auto;
    max-width: 1220px;
    font-family: monospace;
}
.wrap{
    width: 1220px;
    min-height: 700px;
    margin: 0 auto;
}
.header{
    width: 1220px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.header-inner{
    width: 1120px;
    height: 80px;
    display: flex;
}
.header-inner-logo{
    width: 140px;

}
.img-audi-logo{
    width: 100px;
    padding-top: 27px;
    float: right;
}
.header-inner-nav{
    width: 1000px;
    height: 100px;

}
.header-inner-nav-ul{
    margin-top: 32px;
    margin-bottom: 0;
    display: flex;
    float: right;
    font-size: 20px;
    list-style-type: none;
}
.header-inner-nav-ul>li{
    margin-right: 30px;
}
.header-inner-nav-ul>li>a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}
.header-inner-nav-ul a:hover{
    color: rgb(255, 70, 70);
}



.container{
    margin: 0;
    padding: 0;
    width: 1220px;
    min-height: 1200px;
}
.container-inner{
    width: 1220px;
}
.con-in-1{
    width: 1220px;
    min-height: 100px;
    text-align: center;
}
.con-in-1>h2{
    font-size: 44px;
    text-align: left;
    margin-left: 210px;
}
.con-in-1-1{
    margin-left: 210px;
    width: 800px;
    min-height: 100px;
    text-align: justify;
    font-size: 16px;
}
.con-in-2{
    text-align: center;
}
.con-in-3{
    display: flex;
}
.con-in-3-1{
    text-align: center;
}


.footer{
    width: 1220px;
    min-height: 200px;
}

.footer-inner-1{
    width: 1220px;
    height: 180px;
    background-color: #f2f2f2;
    display: flex;
}
.footer-inner-1-1{
    width: 610px;
    padding-left: 50px;
    padding-top: 20px;
    float: left;
}
.footer-inner-1-1>h6{
    font-size: 20px;
    color: #474747;
}

.footer-inner-1-1 a{
    color: #474747;
    text-decoration: none;
}
.footer-inner-1-1 p:hover{
    text-decoration: underline;
}
.footer-inner-1-2{
    width: 610px;
    padding-right: 50px;
    padding-top: 20px;
    float: left;
    text-align: right;
}
.footer-inner-1-2>h6{
    font-size: 20px;
    color: #474747;
}
.footer-inner-1-2 a{
    color: #474747;
    text-decoration: none;
}

.footer-inner-2{
    width: 1220px;
    height: 60px;
    background-color: #474747;
}
.footer-inner-2-1{
    padding-left: 50px;
    padding-top: 20px;
}
.footer-inner-2-1 p{
    color: silver;
}


